{{#unless meals}}
<div class="alert alert-danger w-75 m-auto" role="alert">
This restaurant does not currently have any meals listed on their menu</div>
{{/unless}}

<div class="restName">
    <h3>{{restaurant.name}}</h3>
</div>

<div class="row d-flex flex-wrap w-100 m-auto mt-3">
    {{#each meals as |meal|}}
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12 my-2">
        <div class="card shadow" style="width: 100%;">
            <img src="{{meal.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{meal.name}}</h5>
                <p class="card-text">Contains: {{#each meal.main_courses as |mainCourse|}}<span>{{mainCourse.name}}, </span>{{/each}} {{#each meal.sides as |side|}}<span>{{side.name}}, </span>{{/each}} {{#each meal.drinks as |drink|}}<span>{{drink.name}}, </span>{{/each}} {{#each meal.desserts as |dessert|}}<span>{{dessert.name}}, </span>{{/each}}</p>
                <a href="/catalog/meal/{{meal.id}}"  class="btn btn-outline-dark">View Meal</a>
            </div>
        </div>
    </div>
    {{/each}}
    
</div>