<div class="restName mb-2 px-4 py-2 bg-dark text-light w-25">
    <h2>Inventory</h2>
</div>

<div class="wrap-inventory m-5 row">
    <div class="heading-mainCourses my-2">
        <h4>Main Courses</h4>
    </div>
    {{#unless restaurant.main_courses}}
    <p>None yet. Add more items to your inventory <a href="/user/add" class="text-dark">here</a></p>
    {{/unless}}
    {{#each restaurant.main_courses as |mainCourse|}}
    <div class="card m-1 col-4" style="width: 18rem;">
        <div class="card-body d-flex justify-content-between">
            <div class="wrap-card-details">
                <h5 class="card-title">{{mainCourse.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{mainCourse.calories}}</h6>
            </div>
            <div class="wrap-choice-button d-flex flex-column">
                <button id="{{mainCourse.id}}" class="btn btn-close del-mainCourse"></button>
                <button class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#itemModal">✎</button>
            </div>
            <div class="modal fade" id="itemModal">
                <div class="modal-dialog">
                    <div class="modal-content p-2">
                        <div class="upd-input d-flex flex-column">
                            <div class="item-name m-2">
                                <label for="upd-item-name">Update Name</label>
                                <input type="text" id="upd-item-name">
                            </div>
                            <div class="item-calories px-2">
                                <label for="upd-item-calories">Update Calories</label>
                                <input type="text" class="w-25" id="upd-item-calories">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="{{mainCourse.id}}" class="btn btn-success">Update</button>
                            <button class="btn btn-outline-dark" data-bs-dismiss="modal" data-bs-target="#itemModal">Go back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
     <div class="heading-sides my-2">
        <h4>Sides</h4>
    </div>
    {{#unless restaurant.sides}}
    <p>None yet. Add more items to your inventory <a href="/user/add" class="text-dark">here</a></p>
    {{/unless}}
    {{#each restaurant.sides as |side|}}
    <div class="card m-1 col-4" style="width: 18rem;">
        <div class="card-body d-flex justify-content-between">
            <div class="wrap-card-details">
                <h5 class="card-title">{{side.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{side.calories}}</h6>
            </div>
            <div class="wrap-choice-button d-flex flex-column">
                <button id="{{side.id}}" class="btn btn-close del-side"></button>
                <button class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#itemModal">✎</button>
            </div>
            <div class="modal fade" id="itemModal">
                <div class="modal-dialog">
                    <div class="modal-content p-2">
                        <div class="upd-input d-flex flex-column">
                            <div class="item-name m-2">
                                <label for="upd-item-name">Update Name</label>
                                <input type="text" id="upd-item-name">
                            </div>
                            <div class="item-calories px-2">
                                <label for="upd-item-calories">Update Calories</label>
                                <input type="text" class="w-25" id="upd-item-calories">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="{{side.id}}" class="btn btn-success">Update</button>
                            <button class="btn btn-outline-dark" data-bs-dismiss="modal" data-bs-target="#itemModal">Go back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
     <div class="heading-drinks my-2">
        <h4>Drinks</h4>
    </div>
    {{#unless restaurant.drinks}}
    <p>None yet. Add more items to your inventory <a href="/user/add" class="text-dark">here</a></p>
    {{/unless}}
    {{#each restaurant.drinks as |drink|}}
    <div class="card m-1 col-4" style="width: 18rem;">
        <div class="card-body d-flex justify-content-between">
            <div class="wrap-card-details">
                <h5 class="card-title">{{drink.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{drink.calories}}</h6>
            </div>
            <div class="wrap-choice-button d-flex flex-column">
                <button id="{{drink.id}}" class="btn btn-close del-drink"></button>
                <button class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#itemModal">✎</button>
            </div>
            <div class="modal fade" id="itemModal">
                <div class="modal-dialog">
                    <div class="modal-content p-2">
                        <div class="upd-input d-flex flex-column">
                            <div class="item-name m-2">
                                <label for="upd-item-name">Update Name</label>
                                <input type="text" id="upd-item-name">
                            </div>
                            <div class="item-calories px-2">
                                <label for="upd-item-calories">Update Calories</label>
                                <input type="text" class="w-25" id="upd-item-calories">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="{{drink.id}}" class="btn btn-success">Update</button>
                            <button class="btn btn-outline-dark" data-bs-dismiss="modal" data-bs-target="#itemModal">Go back</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    
    </div>
    {{/each}}
     <div class="heading-desserts my-2">
        <h4>Desserts</h4>
    </div>
    {{#unless restaurant.desserts}}
    <p>None yet. Add more items to your inventory <a href="/user/add" class="text-dark">here</a></p>
    {{/unless}}
    {{#each restaurant.desserts as |dessert|}}
    <div class="card m-1 col-4" style="width: 18rem;">
        <div class="card-body d-flex justify-content-between">
            <div class="wrap-card-details">
                <h5 class="card-title">{{dessert.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{dessert.calories}}</h6>
            </div>
            <div class="wrap-choice-button d-flex flex-column">
                <button id="{{dessert.id}}" class="btn btn-close del-dessert"></button>
                <button class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#itemModal">✎</button>
            </div>
            <div class="modal fade" id="itemModal">
                <div class="modal-dialog">
                    <div class="modal-content p-2">
                        <div class="upd-input d-flex flex-column">
                            <div class="item-name m-2">
                                <label for="upd-item-name">Update Name</label>
                                <input type="text" id="upd-item-name">
                            </div>
                            <div class="item-calories px-2">
                                <label for="upd-item-calories">Update Calories</label>
                                <input type="text" class="w-25" id="upd-item-calories">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="{{dessert.id}}" class="btn btn-success">Update</button>
                            <button class="btn btn-outline-dark" data-bs-dismiss="modal" data-bs-target="#itemModal">Go back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    {{/each}}
    

</div>
